<h3>Realizo a importação das bibliotecas</h3>

In [199]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

navegador = webdriver.Chrome()

<h3>Pesquiso e armazeno o valor do dólar</h3>

In [200]:
# Realizo a pesquisa sobre a cotação do dólar
navegador.get("https://www.google.com/")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('Cotação atual Do dólar')
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
# Armazeno o valor do dólar na váriavel
cotacao_dolar = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_dolar)

5.3384

<h3>Pesquiso e armazeno o valor do euro</h3>

In [201]:
# Realizo a pesquisa sobre a cotação do dólar
navegador.get("https://www.google.com/")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('Cotação atual do Euro')
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
# Armazeno o valor do dólar na váriavel
cotacao_euro = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_euro)

6.468966352000001

<h3>Pesquiso e armazeno o valor do ouro</h3>

In [202]:
# Realizo a pesquisa da cotação atual do ouro
link = "https://www.melhorcambio.com/"
navegador.get(link)
aba_original = navegador.window_handles[0]
navegador.find_element_by_xpath('//*[@id="commodity-hoje"]/tbody/tr[2]/td[2]/a/img').click()
aba_nova = navegador.window_handles[1]
navegador.switch_to.window(aba_nova)
# Armazeno o valor do dólar na váriavel
cotacao_ouro = navegador.find_element_by_id('comercial').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(",", ".")
print(cotacao_ouro)

navegador.quit()

304.29

<h3> Realizo a importação da minha base de dados desatualizada</h3>

In [203]:
import pandas as pd
tabela_produtos = pd.read_excel('Produtos.xlsx')
display(tabela_produtos)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

<h3>Realizando atualização dos preços e o calculando o preço final</h3>

In [209]:
tabela_produtos.loc[tabela_produtos["Moeda"]=="Dólar","Cotação"] = float(cotacao_dolar)
tabela_produtos.loc[tabela_produtos["Moeda"]=="Euro","Cotação"] = float(cotacao_euro)
tabela_produtos.loc[tabela_produtos["Moeda"]=="Ouro","Cotação"] = float(cotacao_ouro)

tabela_produtos["Preço Base Reais"] = tabela_produtos["Cotação"] * tabela_produtos["Preço Base Original"]
tabela_produtos["Preço Final"] = tabela_produtos["Ajuste"] * tabela_produtos["Preço Base Reais"]

display(tabela_produtos)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5.338400,5338.346616,1.40,7473.685262
1,Carro Renault,4500.00,Euro,6.468966,29110.348584,2.00,58220.697168
2,Notebook Dell,899.99,Dólar,5.338400,4804.506616,1.70,8167.661247
3,IPhone,799.00,Dólar,5.338400,4265.381600,1.70,7251.148720
4,Carro Fiat,3000.00,Euro,6.468966,19406.899056,1.90,36873.108206
5,Celular Xiaomi,480.48,Dólar,5.338400,2564.994432,2.00,5129.988864
6,Joia 20g,20.00,Ouro,304.290000,6085.800000,1.15,6998.670000